$white: #FFFFFF;
$black: #000000;
$silver-pink: #C9BCA9;
$white-sand: #E2DED2;
$warm-medium-brown: #875F45;
$dark-charcoal-gray: #2F2E2C;
$melted-chocolate: #5B5545;
$overlay-bg: rgba(0, 0, 0, 0.7);
$white: #fff;
$text-color: $dark-charcoal-gray;
$border-radius: 10px;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
$success-width: 500px;
$success-height: 500px;
$font-size: 20px;
